.container {
    padding: 8px;
    box-shadow: 3px 3px 11px 3px rgb(0 0 0 / 32%);
    
}

.list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.item {
    margin: 0px 16px;
}